## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
doc
.yardoc
pkg
log/

## PROJECT::SPECIFIC
public/system/
public/javascripts/snorby_packaged.js
public/javascripts/all.js
public/stylesheets/snorby_packaged.css
tmp/pids/
example.rb
.bundle/
.document
