# Snorby .gitignore 

*.rbc
*.tmproj
*.swp
log/*
tmp/*
log/*

.yardoc
.bundle/
.document
.DS_Store

doc
pkg
rdoc
tmtags
coverage
tmp/pids/
example.rb
public/system/
public/javascripts/all.js
public/javascripts/snorby_packaged.js
public/stylesheets/snorby_packaged.css
public/assets/*

!tmp/.gitignore
!log/.gitignore
