<div class="search-content-box">
  <div class="inside">

    <div class="search-content-enable search-content-box-item">
      <input name="enable-current-search-content" checked='checked' type="checkbox" />
    </div>

    <div class="column-select search-content-box-item">
      <select class='add_chosen'>
        <option value='any'>Any</option>
        <option value='all'>All</option>
      </select> 
    </div>

    <div class="operator-select search-content-box-item">
      <select class='add_chosen'>
        <option value='is'>is</option>
        <option value='is_not'>is not</option>
      </select>      
    </div>

    <div class="value search-content-box-item">
      <input class='search-content-value' placeholder="Enter search value" name="" type="text" /> 
    </div>

    <div class="search-button-box-holder">
      <div class="search-button-box-inside">
        <div class="search-button-box">

          <div title='Remove search rule' class="search-content-remove search-content-box-item">
            <img src="<%= Snorby::CONFIG[:baseuri] %>/images/icons/minus.png" alt="" />
          </div>

          <div title='Add new search rule' class="search-content-add search-content-box-item">
            <img src="<%= Snorby::CONFIG[:baseuri] %>/images/icons/add.png" alt="" />
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
