<div id="jobs" class='grid_12 page boxit'>	

	<table class='default' border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <th>ID</th>
	    <th>Pri.</th>
	    <th>Attempts</th>
			<th>Run At</th>
			<th>failed_at</th>
			<th>Last Error</th>
			<th>Handler</th>
			<th>&nbsp;</th>
	  </tr>

		<tbody class='content jobs'>
			<%= render :partial => 'jobs/job', :collection => @jobs %>
		</tbody>
		
	</table>

	<br />

</div>
