/* Snorby */

/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

 remember to define focus styles! 
:focus {
	outline: 0;
}

 remember to highlight inserts somehow! 
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

 tables still need 'cellspacing="0"' in the markup 
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group FancyBox */

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.2 (20/10/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../images/fancybox/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('../images/fancybox/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error {
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right {
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('../images/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left {
	left: 0px;
}

#fancybox-right {
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico {
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico {
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
	visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
	left: 20px;
}

#fancybox-right:hover span {
	left: auto;
	right: 20px;
}

.fancybox-bg {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n {
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox/fancybox-x.png');
}

#fancybox-bg-ne {
	top: -20px;
	right: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e {
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('../images/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se {
	bottom: -20px;
	right: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -182px; 
}

#fancybox-bg-s {
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('../images/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw {
	bottom: -20px;
	left: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w {
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('../images/fancybox/fancybox-y.png');
}

#fancybox-bg-nw {
	top: -20px;
	left: -20px;
	background-image: url('../images/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title {
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside {
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside {
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over {
	padding: 10px;
	background-image: url('../images/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float {
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	white-space: nowrap;
}

#fancybox-title-float-left {
	padding-left: 15px;
	background: url('../images/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding-bottom: 3px;
	background: url('../images/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
	padding-left: 15px;
	background: url('../images/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_close.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/ancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6 {
	position: absolute; margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div	{ background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/fancybox/fancy_loading.png', sizingMethod='scale'); }

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg { background: transparent !important; }

.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }

/* @end */

/* @group Main */

.boxit{
	float: none;
}

html,body{
  background-color: #ededed;
  font-family: Helvetica, Arial;
  font-size: 12px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}



/* @end */

/* Content */

/* @group Snorby-Box */

#snorby-box{
	border: 10px solid #242424;
	display: block;
	position: relative;
	overflow: hidden;
}

#snorby-box #box-content{
	overflow: auto;
	display: block;
	position: relative;
	padding: 10px;
	height: 500px;
	width: 750px; !important
}

#snorby-box #box-title{
	padding: 20px 10px;
	background-color: #474747;
	color: #fff;
	font-weight: normal;
	font-variant: normal;
	text-decoration: none;
	font-size: 2.0em;
	letter-spacing: -1px;
	text-shadow: #2a2a2a 0 1px 0;
	font-style: normal;
}

#snorby-box #box-footer{
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #ebebeb;
	padding: 10px;
}

/* @end */

/* @group Flash */

#flash_message{
	cursor: pointer;
	position: absolute;
	height: 90px;
	display: block;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	background-color: rgba(24,31,34,0.79);
	z-index: 9999999;
}

#flash_message div.message{
	cursor: pointer;
	text-shadow: #000 0 0 0;
	line-height: 90px;
	width: 960px;
	margin: auto;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 2.0em;
	text-align: center;
	display: block;
	position: relative;
	overflow: hidden;
}


/* @end */

/* @group Header */


#header{
	display: block;
	position: relative;
	overflow: hidden;
	background: #202325;
	border-bottom: 1px solid #000;
}

#header #header-inside{
	display: block;
	position: relative;
	overflow: hidden;
	height: 90px;
	border-bottom: 1px solid #5a5a5a;
}

#header #header-inside #header-content{
	height: 60px;
	display: block;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #000;
}

#header #header-inside #header-content #header-top{
	display: block;
	position: relative;
	overflow: hidden;
}

#header #header-inside #header-content #header-top #logo{
	height: 60px;
	text-align: right;
	background: url(../images/header/logo.png) no-repeat;
	text-indent: -99999em;
}

#header #header-inside #header-content #header-top #logo a{
	width: 265px;
	display: block;
	position: relative;
	overflow: hidden;
	height: 60px;
	text-indent: 99999em;
}

#header #header-inside #header-content #header-top #user-menu{
	display: block;
	position: relative;
	overflow: hidden;
}

#header #header-inside #header-content #header-top #user-menu ul{
	float: right;
	display: block;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

#header #header-inside #header-content #header-top #user-menu ul li{
	color: #d7d7d7;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	border-left: 1px solid #4f4f4f;
}

#header #header-inside #header-content #header-top #user-menu ul li.first{
	border-left-style: none;
}
#header #header-inside #header-content #header-top #user-menu ul li.last{
	border-right-style: none;
}

#header #header-inside #header-content #header-top #user-menu ul li a{
	color: #909090;
	float: left;
}
#header #header-inside #header-content #header-top #user-menu ul li a:hover{
	color: #fff;
}

#header #header-inside #menu{
	border-top: 1px solid #5a5a5a;
	background: #41464a;	
	display: block;
	position: relative;
	overflow: hidden;
	height: 30px;
}

#header #header-inside #menu ul{

}

#header #header-inside #menu ul li{
	height: 30px;
	line-height: 30px;
	float: left;
	overflow: hidden;
	position: relative;
	display: block;
	text-align: center;
	border-right: 1px solid #616161;
	border-left: 1px solid #313131;
}

#header #header-inside #menu ul li.administration{
	background: transparent url(../images/header/admin-button.png) no-repeat 0 top;
	color: #e3e3e3;
	width: 124px;
	border-style: none; !important
}
#header #header-inside #menu ul li.administration:hover{
	background: transparent url(../images/header/admin-button.png) no-repeat 0 bottom;
	border-style: none; !important
}
#header #header-inside #menu ul li.administration a{
	color: #e3e3e3;
	border-style: none; !important
}



#header #header-inside #menu ul li:hover{
	background: #464d4f;
}

#header #header-inside #menu ul li.blank{
	width: 1px;
	padding: 0;
	margin: 0;
	border-style: none;
}

#header #header-inside #menu ul li.blank.first{
	border-right: 1px solid #616161;
}

#header #header-inside #menu ul li.blank.last{
	border-left: 1px solid #313131;
}

#header #header-inside #menu ul li a{
	color: #c8c7c9;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.1em;
	font-style: normal;
	display: block;
	position: relative;
	overflow: hidden;
	padding-right: 20px;
	padding-left: 20px;
}

#header #header-inside #menu ul li a:hover{
	color: #fffeff;
}

/* @end */

/* @group Body */

#wrapper{
	background-color: #ededed;
	padding-top: 20px;
	clear: both;
	display: block;
	position: relative;
	overflow: visible;
	border-top: 1px solid #fff;
}

#wrapper #content{
	display: block;
	background-color: #fff;
	min-height: 100px;
	position: relative;
	display: block;
	border: 1px solid #cdcdcd;
	padding-bottom: 5px;
}

#wrapper #content div.note{
	cursor: pointer;
	border: 1px solid #fdf5a2;
	padding: 10px 10px 10px 35px;
	color: #313131;
	margin-bottom: 10px;
	text-align: left;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	text-shadow: #fff 0 1px 0;
	background: #fefae8 url(../images/icons/note.png) no-repeat 10px center;
	font-style: normal;
	font-size: 1.1em;
}

.page{
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	position: relative;
}

/* @end */

/* @group Title */

#wrapper #content #title{
	height: 35px;
	background: #ededed url(../images/page/title-bg.png) repeat-x 0 bottom;
}

#wrapper #content #title #title-header{
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	letter-spacing: -1px;
	font-size: 1.6em;
	text-shadow: #fff 0 1px 0;
	color: #313131;
}

#wrapper #content #title #title-header img{
	float: left;
	vertical-align: middle;
}

#wrapper #content #title #title-menu-holder{
	line-height: 35px;
	height: 35px;
	float: right;
}

#wrapper #content #title #title-menu-holder ul#title-menu{
	line-height: 34px;
	height: 35px;
	float: right;
}

#wrapper #content #title #title-menu-holder ul#title-menu li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #fff;
	display: block;
	position: relative;
	overflow: visible;
}

#wrapper #content #title #title-menu-holder ul#title-menu li:hover{
	background-color: rgba(255,254,255,0.7);
}

#wrapper #content #title #title-menu-holder ul#title-menu li:first-child {
	border-left-style: none;
	width: 1px;
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0;
}
#wrapper #content #title #title-menu-holder ul#title-menu li:last-child {
	border-right-style: none;
	width: 1px; !important
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0;
}

#wrapper #content #title #title-menu-holder ul#title-menu li a{
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	color: #353535;
	text-shadow: #fff 0 1px 0;
	font-size: 0.9em;
	display: block;
	position: relative;
	overflow: hidden;
}

#wrapper #content #title #title-menu-holder ul#title-menu li a img{
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 5px;
}

#wrapper #content #title #title-menu-holder ul#title-menu dl.drop-down-menu{
	clear: both;
  	-webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  	-moz-box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	display: inline-block;
	position: absolute;
	top: 35px;
	z-index: 999999;
	background-color: #fff;
	min-width: 230px;
	right: 0;
	padding: 5px;
	visibility: visible;
	overflow: visible;
	border-bottom: 1px solid #cdcdcd;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}

#wrapper #content #title #title-menu-holder ul#title-menu dl.drop-down-menu dd:first-child{
	border-top-style: none;
}

#wrapper #content #title #title-menu-holder ul#title-menu dl.drop-down-menu dd{
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	position: relative;
	overflow: hidden;
	border-top: 1px solid #e7e7e7;
	font-size: 0.9em;
	color: #222;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
}

#wrapper #content #title #title-menu-holder ul#title-menu dl.drop-down-menu dd a{
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.0em;
	color: #000;
}

#wrapper #content #title #title-menu-holder ul#title-menu dl.drop-down-menu dd a span.shortcut{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 1.4em;
    vertical-align: middle;
	float: right;
	background-color: #424242;
	color: #fffeff;
	text-shadow: #000 0 1px 0;
	display: block;
	position: relative;
	overflow: hidden;
	margin-top: 8px;
	margin-right: 5px;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-style: normal;
	text-transform: none;
	padding: 3px 5px;
}

#wrapper #content #title #title-menu-holder ul#title-menu dl.drop-down-menu dd:hover{
	background-color: #fefed5;
}

/* @end */

/* @group Sidebar */

#wrapper #content #sidebar{
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #ededed;
}

#wrapper #content #sidebar #sidebar-inside{
	min-height: 500px;
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
}

/* @end */

/* @group Footer */

#footer{
	margin-top: 10px;
	margin-bottom: 30px;
}

#footer #footer-inside{
	color: #939393;
	font-size: 0.9em;
	text-align: right;
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 10px;
}

#footer #footer-inside a{
	color: #494949;
}

/* @end */

/* Other */

/* @group Helpers */

.blur {color: #bdbdbd}

.blank {color: #e5e5e5}

.right{
	float: right !important;
}

.left{
	float: left;
}

.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.round_top {
        -moz-border-radius-topright: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-top-left-radius: 4px;
}

.round_bottom {
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

.shadow {
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

.shadow-in {
  -webkit-box-shadow: inset 0px 1px 10px #b0b0b0;
  -moz-box-shadow: inset 0px 1px 10px #b0b0b0;
  box-shadow: inset 0px 1px 10px #b0b0b0;
}

.shadow-light{
  -webkit-box-shadow: inset 0px 1px 10px #fbfbfb;
  -moz-box-shadow: inset 0px 1px 10px #fbfbfb;
  box-shadow: inset 0px 1px 10px #fbfbfb;	
}

/* @end */

/* @group Message */

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}



/* @end */



/* @group Growl */

.ui-notify { width:350px; position:fixed; top:10px; right:10px;
	z-index: 999999;
}
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.ui-notify-message h1 { font-size:14px; margin:0; padding:0 }
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:rgba(0,0,0,0.8); -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; box-shadow: 0 0 6px #000; }
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style p { color:#fff }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active { position:relative; top:1px }

/* @end */

/* @group Sensors */

#sensors{
	display: block;
	position: relative;
	padding: 10px 10px 5px;	
}

/* @end */

/* @group Table */

table{
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 5px solid #f3f3f3;
}

table th{
	text-align: left;
	padding-left: 10px;
	color: #3f3f3f;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	border-bottom: 1px solid #bababa;
	background-color: #ddd;
	text-shadow: #fff 0 1px 0;
	font-size: 0.9em;
}

table th img{
	vertical-align: middle;
	margin-top: -3px;
}

table th input{
	vertical-align: middle;
	margin-left: 4px;
}

table td img{
	vertical-align: middle;
	margin-top: -2px;
}

table td{
	padding-left: 10px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #cdcdcd;
	color: #474747;
	background: #fff url(../images/page/table-bg.png) repeat-x 0 bottom;
}

table td.severity{
	width: 45px;
}

table td.first{
	border-left: 1px solid #cdcdcd;
}

table td.last{
	border-right: 1px solid #cdcdcd;
}

table tr:hover td{
	background-color: #fefeeb;
}

table td:last{
	border-bottom-style: none;
}


/* @end */

/* @group LI Table */

ul.table{
	width: 990px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 5px solid #f3f3f3;
	margin: 0;
	padding: 0;
}

ul.table li.header{
	text-align: left;
	color: #3f3f3f;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	border-bottom: 1px solid #bababa;
	background-color: #ddd;
	text-shadow: #fff 0 1px 0;
	font-size: 0.9em;
}

ul.table li.header div{
	display: block;
	position: relative;
	overflow: hidden;
	float: left;
}

ul.table div.content li .row{
	min-height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #cdcdcd;
	color: #474747;
	background: #fff url(../images/page/table-bg.png) repeat-x 0 bottom;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}

ul.table div.content li.event.highlight .row{
	background-color: #414346;
	border-bottom: 1px solid #414346;
	background-image: none;
	color: #fff;
}

ul.table div.content li.event.highlight .row div.timestamp{
	color: #fffeff;
	text-shadow: #000 0 1px 0;
}

ul.table div.content li.event .row div .create-favorite{
	cursor: pointer;
	background: url(../images/icons/star.png) no-repeat 0 bottom;
	width: 16px;
	height: 16px;
	position: relative;
	display: block;
	overflow: hidden;
	top: 6px;
}
ul.table div.content li.event .row div .destroy-favorite{
	cursor: pointer;
	background: url(../images/icons/star.png) no-repeat 0 top;
	width: 16px;
	height: 16px;
	position: relative;
	display: block;
	overflow: hidden;
	top: 6px;
}

ul.table div.content li .row div{
	float: left;
}

ul.table div.content li .row div.click{
	cursor: pointer;
}

ul.table div.content li .row:hover{
	background-color: #fcfed7;
}

ul.table li .row div img{
	vertical-align: middle;
	margin-top: -5px;
}

ul.table li .row div.address{
	width: 100px;
	padding-left: 12px;
}

ul.table li .row div.large{
	
}

ul.table li .row div.timestamp{
	float: right;
	width: 100px;
	display: block;
	position: absolute;
	overflow: hidden;
	color: #b1b1b1;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	font-size: 0.9em;
	text-shadow: #fff 0 1px 0;
	text-align: right;
	right: 0;
	padding-right: 15px;
}

ul.table li .row div.timestamp img.has-notes{
	vertical-align: middle;
	margin-right: 5px;
}

ul.table li .row div.small{
	display: block;
	position: relative;
	overflow: visible;
	min-width: 20px;
	width: 20px;
	padding-left: 10px;
}


/* @end */

/* @group Events */

#events{
	display: block;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}

table.ip-header td a{
	color: #202222;
	text-decoration: none;
	font-variant: normal;
	font-weight: bold;
}

ul.table div.content div.event-data{
	display: block;
	position: relative;
	overflow: hidden;
	float: none; !important
	clear: none;
	width: 100%;
}

ul.table div.content div.event-data table{
	border: none;
}

ul.table div.content div.event-data table th{
	background-color: #5f6264;
	color: #fffeff;
	text-shadow: #000 0 0 0;
	border-bottom: 1px solid #e3e3e3;
}

ul.table div.content div.event-data table th.first{
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

ul.table div.content div.event-data table th.last{
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

ul.table div.content div.event-data table td.first{
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

ul.table div.content div.event-data table td.last{
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

ul.table div.content div.event-data table td{
	background-color: #fff;
}

ul.table div.content div.event-data table tr:hover td{
	background-color: #fff;	
}

ul.table div.content div.event-data div.event-data-holder{
	float: none; !important
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #cdcdcd;
	background-color: #2d2f31;
	border-top-style: none;
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside{
	position: relative;
	display: block;
	overflow: hidden;
	border-top-style: none;
	padding: 5px;
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.plus{
	margin: 10px;
	display: block;
	position: relative;
	overflow: hidden;
}

ul.table div.content div.event-data div.event-data-holder .section-title{
	margin: 5px 0;
	padding: 0 0 5px;
	font-size: 1.2em;
	color: #fffbfe;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	text-shadow: #000 0 1px 0;
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.ip{
	
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.proto{
	
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.payload-ascii{
	padding: 5px;
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.payload-ascii,
ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.payload{
	background-color: #ededed;
	border: 5px solid #47494a;
	color: #242424;
	font-family: "Courier New", Courier, mono;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	overflow: auto;
	max-height: 500px;
	overflow: auto;
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.payload pre{
	padding: 10px;
	border: 1px solid #fff;
}

ul.table div.content div.event-data div.event-data-holder div.event-data-holder-inside div.notes{
	
}

/* @end */

/* @group Buttons */

.btn{
	background: #F3F3F3 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F3F3F3));
	background-color: #F3F3F3;
	border: 1px solid #AAA;
	color: #333;
	text-shadow: white 0px 1px 0px;
}

.btn-small{
	font-size: 1em;
	padding: 6px;
}

/* @end */

/* @group Pagination */

div.paginate-info{
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
	font-size: 0.9em;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	color: #a6a6a6;
	margin-top: 10px;
}

ul.pager{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
	position: relative;
	overflow: hidden;
	margin-right: auto;
	margin-top: 10px;
	margin-left: auto;
	background-color: #ededed;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
	border: 1px solid #dedede;
	text-align: center;
}

div.pagination span,
div.pagination em,
ul.pager li{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.25em;
	overflow: visible;
	padding: 7px;
	width: auto;
	zoom: 1;
	background: #F3F3F3 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F3F3F3));
	background-color: #F3F3F3;
	border: 1px solid #AAA;
	color: #333;
	text-shadow: white 0px 1px 0px;
	padding: 6px;
	text-decoration: none;
	font-variant: normal;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
}

.notes ul.pager{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
	position: relative;
	overflow: hidden;
	margin-right: auto;
	margin-top: 10px;
	margin-left: auto;
	background-color: #1b1b1b;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
	border: 1px solid #000;
	text-align: center;
}

.notes div.pagination span,
.notes div.pagination em,
.notes ul.pager li{
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.25em;
	overflow: visible;
	padding: 7px;
	width: auto;
	zoom: 1;
	background: #282828 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#282828), to(#000));
	background-color: #282828;
	border: 1px solid #000;
	color: #333;
	text-shadow: white 0px 1px 0px;
	padding: 6px;
	text-decoration: none;
	font-variant: normal;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
}

.notes ul.pager li a{
	width: 3em;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	color: #fff;
	font-size: 1.1em;
	font-style: normal;
	text-shadow: #000 0 1px 0;
}

.notes ul.pager li.active a{
	color: #fd2516;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
}

.notes div.pagination span:hover,
.notes ul.pager li:hover{
	border: 1px solid #424242;
}

.notes ul.pager li.loading{
	text-indent: -9999em;
	background: #000 url(../images/icons/pager.gif) no-repeat center center;
}

div.pagination span:hover,
ul.pager li:hover{
	color: #1b67fb;
	border: 1px solid #7b7b7b;
}

ul.pager li.loading{
	text-indent: -9999em;
	background: #fff url(../images/icons/pager.gif) no-repeat center center;
}

ul.pager li.more:hover,
ul.pager li.more{
	color: #8c8d90;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-style: normal;
}

ul.pager li.active a{
	color: #2578fc;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
}

ul.pager li a{
	width: 3em;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	color: #383838;
	font-size: 1.1em;
	font-style: normal;
}

/* @end */

/* @group Severity */

span.severity-example{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	padding: 3px 7px;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.1em;
}

ul.table li div.small span.severity{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	padding: 3px 7px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.1em;
	background-color: #ddd;
}

#severity-color-text{
	background: url(../images/color-picker/select2.png);
	height: 36px;
	position: relative;
	width: 36px;	
}
#severity-color-bg{
	background: url(../images/color-picker/select2.png);
	height: 36px;
	position: relative;
	width: 36px;
}

#severity-color-text div,
#severity-color-bg div{
	background: url(../images/color-picker/select2.png) 50% 50%;
	height: 29px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 29px;
}

/* @end */

/* @group Color Picker */

.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/color-picker/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/color-picker/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/color-picker/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/color-picker/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/color-picker/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/color-picker/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/color-picker/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/color-picker/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/color-picker/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/color-picker/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/color-picker/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/color-picker/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}


/* @end */

/* @group Count Box */

.spch-bub-inside {
  position: relative;
}
a.spch-bub-inside {
  color: #00F;
  text-decoration: none;
}
.spch-bub-inside em {
  font-style: normal;
	font-size: 0.8em;
}
.spch-bub-inside em {
  background: #00F;
  color: #FFF;
  padding: 0 0.4em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  position: relative;
}
.spch-bub-inside .point {
  width: 0;
  height: 0;
  position: absolute;
  top: 1.1em;
  left: 0.4em;
  display: block;
  border-left: 0.45em solid #00F; 
  border-bottom: 0.45em solid #FFF; /* IE fix */
  border-bottom: 0.45em solid rgba(0,0,0,0); 
  overflow: hidden; /* IE fix */
}
a.spch-bub-inside:hover {
  color: #F00;
}
a.spch-bub-inside:hover em {
  cursor: pointer;
  background: #F00;
  color: #FF0;
}
a.spch-bub-inside:hover .point {
  border-left: 0.5em solid #F00; 
}

/* @end */

/* @group Payload */

span.payload-number{
	color: #8a8a8d;
}

span.payload-hex{
	color: #343e4b;
}

span.payload-ascii{
	color: #505254;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
}

/* @end */

/* @group Input */

i{
	color: #a5a5a5;
	font-style: italic;
	text-decoration: none;
	font-variant: normal;
	font-size: 0.8em;
}

#form-actions{
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	position: relative;
}

input[type='password'],
input[type='text']{
	margin-bottom: 10px;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	letter-spacing: -1px;
	padding: 5px;
}

/* @end */

/* @group buttons */

.form-actions {
	text-align: right;
	padding-bottom: 2px;
}

.form-actions .cancel {
	margin-top: 5px;
	float: left;
}

.form-actions .minibutton.cancel {
	margin-top: 0;
}

.form-actions .optional {
	display: block;
	padding-top: 8px;
	float: left;
	margin-right: 15px;
}

.form-actions .optional span.text {
	padding: 0 3px;
}

.form-actions .optional input {
	position: relative;
	top: -1px;
}

button.default,a.button.default {
	height: 30px;
	padding: 0;
	position: relative;
	top: 1px;
	font-family: helvetica,arial,freesans,clean,sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	white-space: nowrap;
	overflow: visible;
	background: #ddd;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff',endColorstr='#e1e1e1');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));
	background: -moz-linear-gradient(-90deg,#fff,#e1e1e1);
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	cursor: pointer;
	-webkit-font-smoothing: subpixel-antialiased!important;
	border: 1px solid #cbcbcb;
	margin-right: 10px;
}


button.default.loading,a.button.default.loading{
	text-indent: -9999em;
	background: #575757 url(../images/icons/pager.gif) no-repeat center center;
}

button.default.warning,a.button.default.warning{
	color: #fd3f42;
}

button.default.success,a.button.default.success{
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border: 1px solid #1fc021;
	border-bottom-color: #1aa31b;
	background: #23c926;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1ef727',endColorstr='#23c926');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#1ef727),to(#23c926));
	background: -moz-linear-gradient(-90deg,#1ef727,#23c926);
}

button.default.success:hover,a.button.default.success:hover{
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border: 1px solid #1fc021;
	border-bottom-color: #1aa31b;
	background: #27de29;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1ef727',endColorstr='#27de29');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#1ef727),to(#27de29));
	background: -moz-linear-gradient(-90deg,#1ef727,#27de29);	
}

button.default.success:active,a.button.default.success:active{
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border: 1px solid #1ef727;
	border-bottom-color: #1ef727;
	background: #23c926;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#1ef727',endColorstr='#23c926');
	background: -webkit-gradient(linear,0% 100%,0% 0,from(#1ef727),to(#23c926));
	background: -moz-linear-gradient(90deg,#1ef727,#23c926);	
}

button.default.warning:hover,a.button.default.warning:hover{
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border-bottom-color: #0770a0;
	background: #d72219;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fd4f52',endColorstr='#d72219');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#fd4f52),to(#d72219));
	background: -moz-linear-gradient(-90deg,#fd4f52,#d72219);	
}

button.default.warning:active,a.button.default.warning:active{
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background: #d72219;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fd4f52',endColorstr='#d72219');
	background: -webkit-gradient(linear,0% 100%,0% 0,from(#fd4f52),to(#d72219));
	background: -moz-linear-gradient(90deg,#fd4f52,#d72219);
}

a.button.default {
	display: inline-block;
}

button.default span,a.button.default span {
	display: block;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
}

button.default:hover,a.button.default:hover {
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	border-bottom-color: #0770a0;
	background: #575757;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8a8a8a',endColorstr='#575757');
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#8a8a8a),to(#575757));
	background: -moz-linear-gradient(-90deg,#8a8a8a,#575757);
	border: 1px solid #515151;
}

button.default:active,a.button.default:active {
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	background: #575757;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8a8a8a',endColorstr='#575757');
	background: -webkit-gradient(linear,0% 100%,0% 0,from(#8a8a8a),to(#575757));
	background: -moz-linear-gradient(90deg,#8a8a8a,#575757);
}

button.default:active span,a.button.default:active span {
	background-position: 0 -120px;
}

button.default::-moz-focus-inner {
	margin: -1px -3px;
}

button.default img,a.button.default img {
	position: relative;
	top: -1px;
	margin-right: 3px;
	vertical-align: middle;
}

button.default:disabled,.button.default.disabled {
	opacity: .5;
}


/* @end */

/* @group CSS Charts */

td.chart{
	position: relative;
	width: 200px;
	padding-left: 10px;
	padding-bottom: 0;
}

div.progress-container {
	vertical-align: middle;
  	border: 1px solid #c0c0c0;
  	width: 180px;
  	float: left; 
	background: #fff;
	display: block;
	position: relative;
	top: 6px;
	overflow: hidden;
}

div.progress-container > div { 
  	height: 17px;
	background: transparent url(../images/page/chart-bg-blue.png) repeat-x;
}

div.progress-container > div > span{
	height: 17px;
	font-size: x-small;
	color: #545454;
	line-height: 17px;
	display: block;
	position: absolute;
	right: 5px;
	font-weight: bold;
	text-shadow: #fff 0 1px 0;
}

/* @end */

/* @group Notes */

div.notes{
	display: block;
	position: relative;
	overflow: hidden;
}

strong.no-notes{
	color: #acacac;
}

div#new_note{
	display: block;
	position: relative;
	overflow: hidden;
}

div.notes div#new_note textarea#body{
	outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	height: 130px;
	background-color: #000;
	width: 800px;
	padding: 5px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	letter-spacing: -1px;
	font-size: 1.2em;
	border: 4px solid #525252;
}

.event-note{
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #212121;
	padding: 10px;
	border: 1px solid #3f3f3f;
	margin-bottom: 10px;
}

.event-note:hover{
	background-color: #242424;	
}

.event-note .note-avatar-holder{
	float: left;
	width: 55px;
	display: block;
	position: relative;
	overflow: hidden;
}

.event-note .note-avatar-holder img{
	background: #000;
	border: 1px solid #3a3a3a;
	float: left;
	margin: 1px 10px 0px 0px;
	padding: 4px;
	width: 32px;
	height: 32px;
}

.event-note .username{
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	color: #bdced6;
	text-shadow: #000 0 1px 0;
	margin-bottom: 10px;
	font-style: normal;
	font-size: 1.2em;
}

.event-note .note-body{
	color: #fff;
	margin-bottom: 20px;
}

.event-note .note-options{
	display: none;
	visibility: hidden;
}

.event-note:hover .note-options{
	text-decoration: none;
	font-variant: normal;
	font-size: small;
	text-align: right;
	display: block;
	position: absolute;
	overflow: hidden;
	top: 5px;
	right: 10px;
	visibility: visible;
}

.event-note .note-options a{
	font-size: 0.8em;
	color: #818488;
}

.event-note .note-options a:hover{
	color: red;
}

div.notes div#new_note textarea#body:focus,
div.notes div#new_note textarea#body:active{
	outline: none;
}

/* @end */

/* @group User Settings */

img.avatar{
	border: 5px solid #ededed;
}

#settings .user-show-avatar{
	position: relative;
	display: block;
	overflow: hidden;
}

#settings .user-show-avatar img{
	float: left;
	margin-right: 10px;
}

/* @end */
