/* Snorby */

/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

 remember to define focus styles! 
:focus {
	outline: 0;
}

 remember to highlight inserts somehow! 
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

 tables still need 'cellspacing="0"' in the markup 
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group Main */

html,body{
  background-color: #ededed;
  font-family: Helvetica, Arial;
  font-size: 12px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}



/* @end */

/* Content */

/* @group Header */


#header{
	display: block;
	position: relative;
	overflow: hidden;
	background: #202325;
	border-bottom: 1px solid #000;
}

#header #header-inside{
	display: block;
	position: relative;
	overflow: hidden;
	height: 90px;
	border-bottom: 1px solid #5a5a5a;
}

#header #header-inside #header-content{
	height: 60px;
	display: block;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #000;
}

#header #header-inside #header-content #header-top{
	display: block;
	position: relative;
	overflow: hidden;
}

#header #header-inside #header-content #header-top #logo{
	height: 60px;
	text-align: right;
	background: url(../images/header/logo.png) no-repeat;
	text-indent: -99999em;
}

#header #header-inside #header-content #header-top #logo a{
	width: 265px;
	display: block;
	position: relative;
	overflow: hidden;
	height: 60px;
	text-indent: 99999em;
}

#header #header-inside #header-content #header-top #user-menu{
	display: block;
	position: relative;
	overflow: hidden;
}

#header #header-inside #header-content #header-top #user-menu ul{
	float: right;
	display: block;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

#header #header-inside #header-content #header-top #user-menu ul li{
	color: #d7d7d7;
	float: left;
	padding-right: 5px;
	padding-left: 5px;
	border-left: 1px solid #4f4f4f;
}

#header #header-inside #header-content #header-top #user-menu ul li.first{
	border-left-style: none;
}
#header #header-inside #header-content #header-top #user-menu ul li.last{
	border-right-style: none;
}

#header #header-inside #header-content #header-top #user-menu ul li a{
	color: #909090;
	float: left;
}
#header #header-inside #header-content #header-top #user-menu ul li a:hover{
	color: #fff;
}

#header #header-inside #menu{
	border-top: 1px solid #5a5a5a;
	background: #41464a;

	/*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4f575c', endColorstr='#41464a');
	background:-webkit-gradient(linear, left top, left bottom, from(#4f575c), to(#41464a));
	background:-moz-linear-gradient(top,  #4f575c,  #41464a);*/
	
	display: block;
	position: relative;
	overflow: hidden;
}

#header #header-inside #menu ul{

}

#header #header-inside #menu ul li{
	height: 30px;
	line-height: 30px;
	float: left;
	overflow: hidden;
	position: relative;
	display: block;
	text-align: center;
	border-right: 1px solid #616161;
	border-left: 1px solid #313131;
}

#header #header-inside #menu ul li:hover{
	background: #464d4f;
}

#header #header-inside #menu ul li.blank{
	width: 1px;
	padding: 0;
	margin: 0;
	border-style: none;
}

#header #header-inside #menu ul li.blank.first{
	border-right: 1px solid #616161;
}

#header #header-inside #menu ul li.blank.last{
	border-left: 1px solid #313131;
}

#header #header-inside #menu ul li a{
	color: #c8c7c9;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 1.1em;
	font-style: normal;
	display: block;
	position: relative;
	overflow: hidden;
	padding-right: 20px;
	padding-left: 20px;
}

#header #header-inside #menu ul li a:hover{
	color: #fffeff;
}

/* @end */

/* @group Body */

#wrapper{
	background-color: #ededed;
	padding-top: 20px;
	border-top: 1px solid #fff;
}

#wrapper #content{
	min-height: 500px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	display: block;
	border: 1px solid #cdcdcd;
}

/* @end */

/* @group Title */

#wrapper #content #title{
	height: 35px;
	background: #ededed url(../images/page/title-bg.png) repeat-x 0 bottom;
}

#wrapper #content #title #title-header{
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
	letter-spacing: -1px;
	font-size: 1.6em;
	text-shadow: #fff 0 1px 0;
	color: #313131;
}

#wrapper #content #title ul#title-menu{
	line-height: 35px;
	height: 35px;
	float: right;
	display: block;
	position: relative;
	overflow: hidden;
}

#wrapper #content #title ul#title-menu li{
	float: left;
}

/* @end */

/* @group Sidebar */

#wrapper #content #sidebar{
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #ededed;
}

#wrapper #content #sidebar #sidebar-inside{
	min-height: 500px;
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
}

/* @end */

/* @group Footer */



/* @end */

/* Other */

/* @group Helpers */

.round {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
}

.round_top {
        -moz-border-radius-topright: 4px;
        -moz-border-radius-topleft: 4px;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-top-left-radius: 4px;
}

.round_bottom {
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
}

.shadow {
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}

/* @end */

/* @group Message */

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}



/* @end */



/* @group Growl */

.ui-notify { width:350px; position:fixed; top:10px; right:10px;
	z-index: 999999;
}
.ui-notify-message { padding:10px; margin-bottom:15px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px }
.ui-notify-message h1 { font-size:14px; margin:0; padding:0 }
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px }
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:rgba(0,0,0,0.8); -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; box-shadow: 0 0 6px #000; }
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style p { color:#fff }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-click { cursor:pointer }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px }
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active { position:relative; top:1px }

/* @end */

/* @group Events */

#events{
	display: block;
	position: relative;
	padding: 10px;
}

/* @end */
