<%= title "Notifications" -%>

<div id="notifications" class='grid_12 page boxit'>
	
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>		
			<th>Signature</th>
			<th>Source Address</th>
			<th>Destination Address</th>
			<th>More Information</th>
			<th></th>
		</tr>
		<tbody class='notifications'>
			<%= render @notifications %>
		</tbody>
	</table>


	<%= pager(@notifications, request.fullpath) %>
	
</div>