<div class='section-title plus'>Event References</div>

<div class='references-table plus'>
	
	<table class='default' border='0' cellspacing='0' cellpadding='0'>
		<tr>
			<th class='first'>Type</th>
			<th class='last'>Value</th>
		</tr>
    <tbody>
      <% @event.signature.sig_references.each do |ref| %>
        <tr>
          <td class='first'><%= ref.reference.type %></td>

          <td style='' class='last'>
            <%= ref.reference.value %> 
          </td>

        </tr>
      <% end %> 
		</tbody>
	</table>

</div>

