<% content_for :head do %>
	<script type="text/javascript">
		<% unless Event.last.blank? %>
		
			var last_event = <%= @events.last.json_time %>;
			$('div#wrapper').attr({last_event: last_event.time});
		
			setInterval (function () {
				$.get('/events/last', function(data) {
					var old_id = $('div#wrapper').attr('last_event');
					if (data && (old_id != data.time)) {
						$.get('events/since', {timestamp: old_id}, function (data) {
							if (data.events) {
								console.log(data.events);
								$('#page').prepend(data.events);
							};
						});
						$('div#wrapper').attr('last_event', data.time)
					};
				});
			}, 20000);
		<% end %>
	</script>
<% end %>

<div id="events">
	
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th>Sensor</th>
			<th>Severity</th>
			<th>Src IP</th>
			<th>Src Port</th>
			<th>Dst IP</th>
			<th>Dst Port</th>
			<th>Signature</th>
		</tr>
		<tbody class='events'>
			<%= render @events %>
		</tbody>
	</table>
	
</div>