<div id='lookup-box' class='container_12'>
	<div id='lookup-box-inside'>
		
		<div id='lookup-box-content' class='grid_6'>
			
			<pre id='whois'><%= @lookup.whois %></pre>
			
			<pre id='dns'><%= @lookup.dns %></pre>
			
		</div>
		
	</div>
</div>