<div class='dashboard-main'>
	
	<div id="classifications" class='page boxit'>

		<table border="0" cellspacing="0" cellpadding="0">

			<tbody class='classifications top'>
				
				<% @classification_metrics.each do |classification| %>
				
					<tr>
						<td class='first'><%= classification.first %></td>
						<td><%= classification.last %></td>
						<td class='chart last'><%= css_chart(percentage_for(classification.last, @event_count)) %></td>
					</tr>
				
				<% end %>
				
			</tbody>
		</table>

	</div>
	
</div>
