<div class='dashboard-main'>
	
	<div id="classifications" class='page boxit'>

		<table border="0" cellspacing="0" cellpadding="0">
			<tr>		
				<th>Classification</th>
				<th>Event Count</th>
				<th>Event %</th>
			</tr>
			<tbody class='classifications'>
				
				<% @classification_metrics.each do |classification| %>
				
					<tr>
						<td class='first'><%= classification.first %></td>
						<td><%= classification.last %></td>
						<td class='chart last'><%= css_chart(percentage_for(classification.last, @event_count)) %></td>
					</tr>
				
				<% end %>
				
			</tbody>
		</table>

	</div>
	
</div>
