All,<br />

<p>
	<% if Setting.company? %>
		<%= Setting.find(:company) %> daily report via Snorby.<br />
	<% else %>
		Daily report via Snorby.<br />
	<% end %>
</p>

<p>
----------------------------------------<br />
This is a daily email from Snorby.  You received this email because you requested the report to be sent to you.  You will receive the next report tomorrow.<br />
</p>