All,<br />

<p>
	<% if Setting.company? %>
		<%= Setting.find(:company) %> monthly report via Snorby.<br />
	<% else %>
		Monthly report via Snorby.<br />
	<% end %>
</p>

<p>
----------------------------------------<br />
This is a monthly email from Snorby.  You received this email because you requested the report to be sent to you.  You will receive the next report next month.<br />
</p>