All,<br />

<p>
	<% if Setting.company? %>
		<%= Setting.find(:company) %> weekly report via Snorby.<br />
	<% else %>
		Weekly report via Snorby.<br />
	<% end %>
</p>

<p>
----------------------------------------<br />
This is a weekly email from Snorby.  You received this email because you requested the report to be sent to you.  You will receive the next report next week.<br />
</p>