<%= title "Listing Sensors", do -%>

	<li>Hello</li>

<%- end -%>

<div id="sensors">
	
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>		
			<th>ID</th>
			<th>Name</th>
			<th>Hostname</th>
			<th>Interface</th>
			<th>Event Count</th>
			<th>Last Event</th>
		</tr>
		<tbody class='sensors'>
			<%= render @sensors %>
		</tbody>
	</table>


	<%= pager(@sensors, 'sensors') %>
	
</div>