<div id="severities" class='grid_12 page boxit'>

	<table class='default' border="0" cellspacing="0" cellpadding="0">
		
		<tr>		
			<th>ID</th>
			<th>Name</th>
			<th>Background</th>
			<th>Text</th>
			<th>Signature Count</th>
			<th>Event Count</th>
			<th>Example</th>
			<th>Edit</th>
			<th>Destroy</th>
		</tr>
		
		<tbody class='sensors content'>
			<%= render @severities %>
		</tbody>
		
	</table>


	<%= pager(@severities, Snorby::CONFIG[:baseuri] + '/severities') %>
	
</div>
