<div id="wrapper">
	
	<div id="content" class='shadow container_12'>

		<div id="page" class='grid_9'>

			<% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
	    <% end %>

	    <%= yield %>

		</div>
		
	</div>
	
</div>