<div id="footer" class='container_12'>
	<div id="footer-inside" class='round'>
		Snorby <%= Snorby::VERSION %> - <%= link_to 'http://www.snorby.org', 'http://www.snorby.org' %> &copy; <%= Time.now.year %> Dustin Willis Webber
	</div>
</div>