<div id="footer" class='container_12'>
	<div id="footer-inside" class='round'>
    Snorby <%= Snorby::VERSION %> - 
    <%= link_to 'https://github.com/Snorby/snorby', 'https://github.com/Snorby/snorby' %> 
    &copy; <%= Time.now.year %> 
    <a href="https://threatstack.com">Threat Stack, Inc</a> - 
    Created By: Dustin Willis Webber
	</div>
</div>
