<div id="growl" style='display:none;'>

  <div id="basic-template" style='display:none;'>
      <a class="ui-notify-cross ui-notify-close" href="#">x</a>
      <h1>#{title}</h1>
      <p>#{text}</p>
  </div>
 
</div>
