<!DOCTYPE html>

<html>
	
	<head>
		
		<%= stylesheet_link_tag 'pdf' %>

		<%= yield(:header) %>
		
	</head>
	
	<body>
		
		SNORBY
		
		<div id="wrapper">

			<div id="content" class='shadow container_12'>

		    <%= yield %>

			</div>

		</div>
		
		<%= yield(:footer) %>
	</body>
	
</html>